@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body
{
	/* background: #000; */
	font-family: 'Montserrat', sans-serif;
}
.main{
	width: 100%;
	/* height: 100vh; */
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.5)), url(background.webp);
	/* max-height: 100vh; */
	background-position: center;
	background-size: cover;
	z-index: 1;
	overflow: hidden;
}
.container{
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
}
main{
	width: 100%;
	/* max-height: 100vh; */
	display: flex;
	justify-content: space-between;
	/* padding-bottom: 2em; */
	position: relative;
	padding-bottom: 2em;
}
.box1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	/* height: 100vh; */
position: relative;
}
.box1 h1{
	font-size: 4em;
	margin-top: 1em;
	line-height: 1.2;
	font-weight: 600;
	/* color: #b8860b; */
}
.gradient-text {
	background: linear-gradient( to right, #f12711, #f5af19);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
 }
 .plan{
	margin-top: 1em;
	display: flex;
	justify-content: space-between;
	
 }
 .plan span{
color: #fff;
line-height: 1.4;
font-weight: 400;
 }
 .plan span:first-child{
	width: 40%;
 }
 .plan span:last-child{
	width: 60%;
 }

 .program{
	margin-top: 1em;
 }
.qr-code{
	text-align: center;
	margin-top: 2em;
}
.foto{
	width: 50%;
}
.foto-box{
	margin-top: 1em;
}
.foto-box h3{
	background: linear-gradient( to right, #f12711, #f5af19);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
	font-size: 1.3em;
	text-align: center;
	margin-bottom: .9em;
	text-transform:uppercase;
}
.foto-div{
	display: flex;
	justify-content: space-between;
}
.foto-foto img{
	border-radius: 5px;
	width: 100px;
}
.foto-text{
	color: #fff;
	margin-left: 1em;
}
.foto-text span:first-child{
font-size: 1.2em;
font-weight:600;
}
.foto-text span{
	margin-bottom: .3em;
}
.foto-text span{
	display: block;
}

.program ul li{
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.program ul li span:first-child{
	width: 40%;
}
.program ul li span:last-child{
	width: 60%;
}

 .box1-p p {
	color: #fff;
	font-size: 1em;
	text-decoration: underline;
	margin-top: 2em;
 }


.box1 h2{
	color: #fff;
	font-weight: 400;
	font-size: 1.2em;
	margin-top: 1em;
}
.box1 .box1-h2{
	font-weight: 600;
	font-size: 1.4em;
	margin-bottom: 1.5em;
}
.box1-2{
	position: absolute;
	bottom: 0em;
	top: 0;
	/* left: 0; */
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.box1-2 div{
	text-align: center;
}
.box1-2 div p{
	color: #fff;
}
.box1-2 img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	margin-bottom: .4em;
}
.box-2{
	width: 30%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 2em;
}

.box-2 h2{
	color: #fff;
	font-size: 1.8em;
	margin-bottom: .5em;
	font-weight: 400;
}
.box-list {
	border-bottom: 1px solid #4facfe;
	margin-top: 3em;
}
.box-list div{
	display: flex;
	margin-bottom: .3em;
}

.box-list ul li{
	color: #fff;
	font-size: 1.2em;
	margin-bottom: .5em;
	font-weight: 400;
}


@media screen and (max-width: 975px){
	.box-2 a{
		font-size: 1.8em;
	}
}
@media screen and (max-width: 875px){
	.box1 h1{
		font-size: 3em;
	}
	.box-list div{
		flex-direction: column;
	}
	.box-list ul li {
		font-size: 1em;
  }
  .box1 span {
	font-size: 1em;
}
.btn-send{
	font-size: 14px;
}
}
@media screen and (max-width: 875px){
	.box1-2 img{
		width: 110px;
		height: 110px;
	}
	.box1 h1{
		font-size: 2.2em;
	}
.foto{
	width: 100%;
}
	.box-list ul li {
		font-size: .8em;
  }
}
@media screen and (max-width: 575px){
	.modal-box{
		width: 80vw;
	}
	.box1{
		width: 100%;
	}
	.box-2{
		display: none;
	}
}
@media screen and (max-width: 476px){
	.box-list{
		margin-top: 0;
	}
	.box1 span{
		font-weight: 400;
	}
}

@media screen and (max-width: 428px){
	.box1 h2{
		font-size: 1em;
	}
	.tel a {
		font-size: 1.6em;
  }
  .box1 h1 {
	font-size: 2em;
}
.btn-send {
	font-size: 11px;
}
.box-list ul li {
	font-size: .9em;
}
.box1 .box1-h2 {
	font-weight: 400;
	font-size: 1.1em;
}
}
@media screen and (max-width: 414px){
	.box1 h1 {
		font-size: 1.8em;
  }
}
@media screen and (max-width: 375px){
	.box1 h1 {
		font-size: 1.5em;
  }
  .box1-p p{
	margin-top: 1em;
  }
}



